/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 20, 2025, 10:27:51 AM
    Author     : Madelyn Yap
*/
body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background-color: #fdfdfd;
    color: #254559;
}

.hero-banner {
    position: relative;
    height: 60vh;
    background: url('../images/fithub-banner.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-banner h1 {
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}


.video-hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.video-overlay {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    background: rgba(0, 0, 0, 0.3); /* Optional: dark tint over video */
}

.video-overlay h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.video-overlay p {
    font-size: 1.5rem;
    font-weight: 300;
}

.mission-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 67px;
  margin-top: 40px;
}
